body{
  font-family: Monospace, Monaco;
  background-color: beige;
}

#Title{
  color: navy;
  text-align: center;
}

.headline{
  text-align: left;
  margin-left: 20px;
}

.grid-container{
  display: inline-grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
  padding: 5px;
}

.column {
  float: left;
  /* width: 50%; uneven columns look better after testing*/
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.left{
  width: 35%;
}
.right{
  width: 65%;
}

@media screen and (max-width: 1000px) {
  .column {
    width: 100%;
  }
}

.country_name{
  border: 1px solid blue;
  color: Black;
  font-size: 20px;
  font-weight: bold;
  border-radius: 5px;
  width: 200px;
  height: 133px;
  text-align: center;
  display: inline-block;
  background-size: cover;

}

#SPA{
    background-image: url("https://flagpedia.net/data/flags/w580/es.png");
    color: white;
}
#ARM{
    background-image: url("https://flagpedia.net/data/flags/w580/am.png");
    color: white;

}
#ITA{
    background-image: url("https://flagpedia.net/data/flags/w580/it.png");
}
#JPA{
    background-image: url("https://flagpedia.net/data/flags/w580/jp.png");
}

.description{
  color: red;
  font-style: italic;
  font-size: 18px;
  font-weight: 550;
  /* text-align: left; */

}

#food-art {
  top: 180px;
  width: 500px;
  height: 400px;
  display:inline-block;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}
